define {{ dto.object_name }} {
    {% if dto.named_object %}
    {{ dto.object_name }}_name {{ dto.name }}
    {% endif %}
    {% for item in dto.parameters %}
    {% for key, value in item.iteritems() %}
    {{ key }} {{ value }}
    {% endfor %}
    {% endfor %}
}
